*.exe
**/.vscode
ng/dist
**/node_modules

static/style.css.map
static/style.css
ng/src/styles.css
ng/src/styles.css.map
ng/**/*.css
ng/**/*.css.map

angular-16-app.html

**/*~
**/#*#
**/.#*
static/dark.css
static/light.css
**/*.css.map
static/smarts.js
Journal-Go
