<app-header></app-header>
<mat-sidenav-container>
    <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
    <mat-sidenav-content>

<h1>It works!</h1>

<p>Yay! \o/</p>

<p> An angular toggle, just for grins: 
<mat-slide-toggle>Toggle me!</mat-slide-toggle>
</p>

<p>Check out this responsive grid!  (Squeeze it from the side.)</p>

<div class="grid-container">
    <div class="grid-item item1">A thing 1</div>
    <div class="grid-item item2">A thing 2</div>
    <div class="grid-item item3">A thing 3</div>
    <div class="grid-item item4">A thing 4</div>
</div>

</mat-sidenav-content>
</mat-sidenav-container>