<!-- Use component properties rather than direct comparison to TrackableItemTypeEnum values because the component html
    template only has access to component properties (i.e., that is the html template's only context).
    See https://stackoverflow.com/a/44045373/370611.
-->
<mat-checkbox *ngIf="isCheckbox"> 
{{ item ? item.label : "(undefined)" }}
</mat-checkbox>

<mat-form-field *ngIf="isShortText">
    <mat-label>{{ item?.label }}</mat-label>
    <!-- Specifying size on INPUT (default is 20, btw) doesn't affect layout width, for some reason. -->
    <input matInput>    
</mat-form-field>

<mat-form-field *ngIf="isDropdown">
    <mat-label>{{ item?.label }}</mat-label>
    <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
        <mat-option value="three">Very long third option lorem ipsum dolor sit amet</mat-option>
    </mat-select>
</mat-form-field>

<div *ngIf="isUnknownType">
    Unknown type of widget: {{ item?.itemType }}
</div>