<div id="daterow">
   <span class="spacer"></span>
    <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
</div>

<!-- Full syntax for *ngFor can be found at https://angular.io/api/common/NgForOf#description. -->
<div id="widgetGrid">
  <div class="widget" *ngFor="let journalWidget of items; index as i">
    <!-- {{ i }}:  -->
    <app-journal-widget [item]="journalWidget"></app-journal-widget>
  </div>
</div>

<!-- <mat-grid-list cols="2" rowHeight="10:1">
  <mat-grid-tile *ngFor="let journalWidget of items; index as i">
    {{ i }}: {{ journalWidget.label }}
  </mat-grid-tile>
</mat-grid-list> -->
