#daterow {
    display: flex;

    .spacer {
        flex: 1 1 auto;     // Magical incantation I got from somewhere.
    }
}

#widgetGrid {
    --auto-grid-min-size: 20em;     // Define a variable (leading "--" required).
    display: grid;
    // Another magical incantation, from https://css-tricks.com/a-responsive-grid-layout-with-no-media-queries/.
    grid-template-columns: repeat( auto-fill, minmax( var( --auto-grid-min-size), 1fr));
    // grid-template-rows: 1fr;
    // grid-auto-columns: 1fr;
    // grid-auto-rows: 1fr;
    // grid-auto-flow: column;

    // If you put a ":" after .widget, you get some very weird errors.  Don't do that.
    .widget {
        // background-color: #ffffee;
        // border: 1px solid #cccc00;
        // Don't need this spacing any more, since Material is going to start handling it.
        // margin: 0.33em 1em;
        // padding: 0.5em;
    }
}
