<mat-toolbar color="primary" class="mat-elevation-z4">
    <mat-toolbar-row> 
        <!-- <span>Hamburger</span> -->
        <button class="hamburger hamburger--arrow {{this.hamburgerMenuIsActive ? 'is-active' : ''}}" 
            type="button"
            (click)="hamburgerMenuToggle()"
            >
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>  
        <mat-icon
            class="icon"
            (click)="hamburgerMenuToggle()"
            >
            menu
        </mat-icon>
        <span class="spacer"></span>
        <app-menu [options]="(options$ | async)!" (themeChange)="themeChangeHandler($event)">
        </app-menu>
    </mat-toolbar-row>
</mat-toolbar>