body {
    font-family: Roboto, sans-serif;
}

pre {
    font-size: larger;
    margin-left: 3em;
    border: 1px solid silver;
    padding: 0.5em;
    background-color: #f8f8f8;
}

.top-bar {
    display: flex;
    color: black;
    background-color: lightblue;
    padding: 1em;
}

.top-bar .spacer {
    flex: 1 1 auto;
}