/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@include mat.core();

// Define a dark theme
$dark-theme: mat.define-dark-theme((
 color: (
   primary: mat.define-palette(mat.$light-blue-palette),
   accent: mat.define-palette(mat.$orange-palette),
 ),
  // Only include `typography` and `density` in the default dark theme.
  typography: mat.define-typography-config(),
  density: 0,
));

// Define a light theme
$light-theme: mat.define-light-theme((
 color: (
   primary: mat.define-palette(mat.$light-blue-palette),
   accent: mat.define-palette(mat.$orange-palette),
 ),
));

// Apply the dark theme by default
@include mat.core-theme($dark-theme);
@include mat.button-theme($dark-theme);
@include mat.slide-toggle-theme( $dark-theme);
@include mat.toolbar-theme( $dark-theme);
@include mat.menu-theme( $dark-theme);
@include mat.icon-theme( $dark-theme);
@include mat.sidenav-theme( $dark-theme);

// Apply the light theme only when the user prefers light themes.
@media (prefers-color-scheme: light) {
 // Use the `-color` mixins to only apply color styles without reapplying the same
 // typography and density styles.
 @include mat.core-color($light-theme);
 @include mat.button-color($light-theme);
 @include mat.slide-toggle-color( $light-theme);
 @include mat.toolbar-color( $light-theme);
 @include mat.menu-color( $light-theme);
 @include mat.icon-color( $light-theme);
 @include mat.sidenav-color( $light-theme);
 }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    margin: 0.5rem;
}
